In [84]:
import requests
import urllib.parse
from bs4 import BeautifulSoup
import scrapy
from time import sleep
import copy

import pandas as pd

In [80]:
# web = "https://www.settrade.com/th/get-quote"
# response = requests.get(web)
# print(response.status_code, response.reason)
# html = response.text
# soup = BeautifulSoup(html, 'html.parser')

200 OK

In [34]:
with open('html.txt','r') as html:
    text = html.readlines()
    all_text = "".join(text)

In [36]:
soup = BeautifulSoup(all_text, 'html.parser')

In [119]:
data = {"name":[], "company_name_th":[],"company_name_en":[], "market":[]}

def scrape_company_in_market():
    rows = soup.select("#table-w1rjpmog15 > tbody > tr")
    for row in rows:
        data_row=row.text.split('\n')
        _,n,_,c_n_th,_,c_n_en,_,m,_ = [d.strip() for d in data_row]
        data['name'].append(n)
        data['company_name_th'].append(c_n_th)
        data['company_name_en'].append(c_n_en)
        data['market'].append(m)

    df = pd.DataFrame(data)
    
    return df

In [120]:
df = scrape_company_in_market()
df

,name,company_name_th,company_name_en,market
0,2S,บริษัท 2 เอส เมทัล จำกัด (มหาชน),2S METAL PUBLIC COMPANY LIMITED,SET
1,3K-BAT,บริษัท ไทย เอ็นเนอร์จี สโตเรจ เทคโนโลยี จำกัด ...,THAI ENERGY STORAGE TECHNOLOGY PUBLIC COMPANY ...,SET
2,7UP,บริษัท เซเว่น ยูทิลิตี้ส์ แอนด์ พาวเวอร์ จำกัด...,SEVEN UTILITIES AND POWER PUBLIC COMPANY LIMITED,SET
3,24CS,บริษัท ทเวนตี้ โฟร์ คอน แอนด์ ซัพพลาย จำกัด (ม...,Twenty-Four Con & Supply Public Company Limited,mai
4,A,บริษัท อารียา พรอพเพอร์ตี้ จำกัด (มหาชน),AREEYA PROPERTY PUBLIC COMPANY LIMITED,SET
...,...,...,...,...
866,YGG,บริษัท อิ๊กดราซิล กรุ๊ป จำกัด (มหาชน),YGGDRAZIL GROUP PUBLIC COMPANY LIMITED,mai
867,YONG,บริษัท ยงคอนกรีต จำกัด (มหาชน),Yong Concrete Public Company Limited,mai
868,YUASA,บริษัท ยัวซ่าแบตเตอรี่ ประเทศไทย จำกัด (มหาชน),YUASA BATTERY (THAILAND) PUBLIC COMPANY LIMITED,mai
869,ZEN,บริษัท เซ็น คอร์ปอเรชั่น กรุ๊ป จำกัด (มหาชน),ZEN CORPORATION GROUP PUBLIC COMPANY LIMITED,SET
870,ZIGA,บริษัท ซิก้า อินโนเวชั่น จำกัด (มหาชน),ZIGA INNOVATION PUBLIC COMPANY LIMITED,mai

In [127]:
df.to_csv("Dataset/company_name.csv")